@using AslLabApi.Models
@using AslLabApi.Models.DTO
@using AslLabApi.Models.HMS
@model AslLabApi.Models.DTO.TestVDTO

@{
    ViewBag.Title = "VaccumInfo";
    Layout = null;

    if (HttpContext.Current.Session["LoggedUserType"] == null)
    {
        Response.Redirect(Url.Action("Index", "Login"));
    }

    var LoggedUserTp = HttpContext.Current.Session["LoggedUserType"].ToString();
    var LoggedUserStatus = HttpContext.Current.Session["LoggedUserStatus"].ToString();
    var LoggedCompanyStatus = HttpContext.Current.Session["LoggedCompanyStatus"].ToString();

    if ((LoggedUserTp == "CompanyAdmin" || LoggedUserTp == "UserAdmin" || LoggedUserTp == "User") && LoggedUserStatus == "A" && LoggedCompanyStatus == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }

    var LoggedCompId = HttpContext.Current.Session["loggedCompID"].ToString();
    Int64 compid = Convert.ToInt64(LoggedCompId);

    string companyName = "", address = "", contactNo = "";

    AslLabApiContext db = new AslLabApiContext();

    var SelectCompanyName = from n in db.AslCompanyDbSet

                            where n.COMPID == compid
                            select new { n.COMPNM, n.ADDRESS, n.CONTACTNO };

    foreach (var n in SelectCompanyName)
    {
        companyName = n.COMPNM;
        address = n.ADDRESS;
        contactNo = n.CONTACTNO;
    }
    var compNm = companyName;
    var Address = address;
    var contactno = contactNo;

    List<Test> test = new List<Test>();
    test = db.HMS_TEST.Where(e => e.COMPID == compid).ToList();


    List<TestV> testVdata = new List<TestV>();
    testVdata = db.HMS_TESTV.Where(e => e.COMPID == compid).OrderBy(x => x.TESTID).ToList();

    TimeZoneInfo timeZoneInfo;
    timeZoneInfo = TimeZoneInfo.FindSystemTimeZoneById("Central Asia Standard Time");
    DateTime currentDateTime = TimeZoneInfo.ConvertTime(DateTime.Now, timeZoneInfo);


    //permission check

    Int64 loggedUserID = Convert.ToInt64(HttpContext.Current.Session["loggedUserID"].ToString());


    var permission_Check = from m in db.AslRoleDbSet
                           where m.COMPID == compid && m.USERID == loggedUserID
                               && m.CONTROLLERNAME == "List" && m.ACTIONNAME == "VaccumInfo"
                           select m;
    var Status = "";
    foreach (var check in permission_Check)
    {
        Status = check.STATUS;
    }

    if (Status == "A")
    {

    }
    else
    {
        Response.Redirect(Url.Action("Index", "Logout"));
    }



}


<!DOCTYPE html>

<html lang="en">
<head>

    <link href="~/Content/reportcss/style.css" rel="stylesheet" />
    @*<script type="text/javascript">
            function ClosePrint() {
                var print = document.getElementById("print");
                print.style.visibility = "hidden";
                //            print.display = false;

                window.print();
            }
        </script>*@

</head>

<body style=" background-color:#fafafa;">



    @*<input id="print" tabindex="1" type="button" value="Print" onclick="ClosePrint()" />*@
    <div style="width: 960px; margin: 0px auto; border: 1px solid #d3d3d3; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); background: none repeat scroll 0 0 white;">
        <table id="mainTable" border="0" width="100%">
            <thead>
                <tr>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="10%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>
                    <td width="5%"></td>

                </tr>
                <tr style="background-color: #00689b">
                    <td colspan="12">
                        <h3 style="color: white;padding:4px">@compNm</h3>
                        @*<p style="color:white;padding-left:4px">@Address<span>  @contactno</span></p>*@
                    </td>

                    <td colspan="6" style="color: white;padding:8px" align="right">
                        Powered By<br />Alchemy Software
                    </td>

                </tr>

                <tr>
                    <td colspan="12" align="left" style="padding: 4px; font-weight: bold">Vaccum Information</td>
                    <td align="right" colspan="6" style="padding:8px">Print:@currentDateTime.ToString("dd-MM-yy hh:mm tt")</td>
                </tr>
                @*<tr style="outline: thin solid">
                        <td colspan="5" style="padding:4px">User Name: <span style="font-weight: bold">@userNm</span></td>

                        <td colspan="1" align="right">From:</td>
                        <td colspan="1" style="font-weight: bold">@ViewBag.FromDate</td>
                        <td colspan="1" align="right">To:</td>
                        <td colspan="1" style="font-weight: bold">@ViewBag.ToDate</td>

                    </tr>*@

                <tr style="background-color: #00689b; outline: thin solid">
                    <td colspan="18" style="color: white; padding: 4px;padding-left: 60px" align="left">Test Vaccum Name</td>



                </tr>
            </thead>
            <tbody>
                @foreach (var item in test)
                {
                    var data_ache_kina = (from n in db.HMS_TESTV where n.COMPID == compid && n.TESTID == item.TESTID select n).ToList();
                    if (data_ache_kina.Count != 0)
                    {
                        <tr style="outline:thin solid">
                            <td colspan="18" style="padding: 4px;font-size:small;font-weight:bold" align="left">@Html.DisplayFor(modelItem => item.TESTNM)</td>


                        </tr>
                        foreach (var data_testV in testVdata)
                        {
                            if (data_testV.TESTID == item.TESTID)
                            {
                                foreach (var fortestVname in test)
                                {
                                    if (fortestVname.TESTID == data_testV.TVACID)
                                    {
                                        <tr>
                                            <td colspan="18" style="padding: 8px" align="left">@Html.DisplayFor(modelItem => fortestVname.TESTNM)</td>

                                        </tr>
                                        break;

                                    }
                                }

                            }

                        }

                    }




                }

            </tbody>
        </table>

    </div>







</body>

</html>
